<div class="jumbotron">
	<center>
		<h1>Welcome to Zach's Pizza Shack</h1>
		<img src="http://www.neonsign.com/media/catalog/product/cache/1/image/0f396e8a55728e79b48334e699243c07/4/0/407_1.jpg">
		<br>

		<%= link_to "Check out our Pizzas!", pizzas_path, class: "btn btn-default" %>
	</center>
</div>